/* Body */
body {
    direction: ltr !important;
    cursor: default !important;
}

.head .intro {
    font-weight: bolder !important;
    font-size: 16.33px !important;
}
/*
    |=======================
    |=== Common partials === 
    |=======================
*/


/* Header */
.header .dropdown-content ul li a {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 9px !important;
}

.header .btn-show-nav {
    left: auto !important;
    right: 25px !important;
}

.header .hide-nav .lang {
    padding-right: auto !important;
    padding-left: 25px !important;
}


.header .main-nav > li > a::before {
    right: unset !important;
    left: 0 !important;
}

@media (max-width: 991px) {
    .header .main-nav > li > a {
        padding-left: 20px !important;
        padding-right: unset !important;
    }
}
.header .main-nav > li > a {
    font-size: 16.66px !important;
    font-weight: bolder !important;
    text-align: center !important;
}

/* Footer */
footer .footer-links ul {
    text-align: left !important;
}

footer .footer-links ul li a::before {
    right: unset !important;
    left: 0 !important;
}

/* Sidebar */
.sidebar div a {
    border-right: 6px solid transparent !important;
    border-left: unset !important;
}

.sidebar div a:hover {
    border-right-color: var(--primaryColor) !important;
    border-left-color: unset !important;
}
/*
    |=================
    |=== Home Page === 
    |=================
*/


/* Section: Landing */

.landing .swiper .swiper-slide h2 {
    line-height: 60px !important;
}

.landing .swiper .swiper-slide h2 {
	font-size: 50px !important;
	font-weight: bolder !important;
	line-height: 55px !important;
	text-transform: uppercase !important;
}

/* Section: About */

.about-section {
    direction: ltr !important;
}

.about-text.wide-text {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.about .container {
    gap: 50px !important;
}

.about-text {
    text-align: left !important;
    direction: ltr !important;
}

.about ul {
    padding-left: 22px !important;
    direction: ltr !important;
}

.about-section.reverse {
    direction: rtl !important;
}

.about-text p, .long-text {
    text-align: left !important;
}

.about-text h2 {
    direction: ltr !important;
}

.about .about-right .about-description {
    color: rgba(79, 79, 79, 1) !important;
    font-size: 14.33px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

/* Section: Services */
.services .service-content .service-list {
    margin-left: 20px !important;
    margin-right: auto !important;
}

.services .service-content .service-list li::before {
    left: -18px !important;
    right: auto !important;
}

.services .swiper-custom-nav {
    flex-direction: row-reverse !important;
}

.services .swiper .service-icons {
    justify-content: start !important;
}

.services .swiper .service-icons .icon-box p {
    font-size: 16px !important;
}

.services .service-content .service-description {
    font-size: 14.66px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
    line-height: 20.33px !important;
}

.services .service-content .service-list li {
    position: relative !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.services .swiper .service-icons .icon-box p {
    margin-top: 10px !important;
    width: 112px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    color: rgba(79, 79, 79, 1) !important;
}

/* Section: Partners */
.partners .partner p {
    color: rgba(51, 51, 51, 1) !important;
    font-weight: 500 !important;
    font-size: 17.33px !important;
}

/* Section: Features */
.features .feature-box {
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

.features .feature-description {
    font-size: 14.33px !important;
    line-height: 19.33px !important;
}
/* Section: FAQ */
.faq .accordion .accordion-item .accordion-button::after {
    right: 15px !important;
    left: auto !important;
}

.faq .accordion .accordion-item .accordion-button {
    padding-right: 50px !important;
}

.faq .accordion .accordion-item .accordion-button {
    font-size: 15px !important;
}

@media (max-width: 768px) {
    .faq .accordion .accordion-item .accordion-button {
        font-size: 14px !important;
    }
    .faq .accordion .accordion-item .accordion-body {
        font-size: 14.66px !important;
    }
}
/* Section: Contact Us */
.contact .container .info-section p i {
    margin-right: 10px !important;
    margin-left: auto !important;
}

.contact .container .info-section img {
    bottom: 5px !important;
    right: -6px !important;
    left: auto !important;
    width: 116px !important;
    transform: rotate(270deg) !important;
    overflow: hidden !important;
}

.contact .container .form-section form input[type=tel]::placeholder {
    text-align: left !important;
}

.iti__country.iti__highlight,
.iti__country {
    text-align: left !important;
}

.contact .iti__arrow {
    margin-left: 5px !important;
    margin-right: unset !important;
}

.contact .box-map {
    direction: rtl !important;
    text-align: left !important;
}

.contact .box-map .text h2 {
    text-align: left !important;
}

.contact .box-map .text h2::before {
    right: auto !important;
    left: 0 !important;
}

.contact .box-map .text a {
    text-align: left !important;
}
.contact .iti__arrow {
    margin-left: 5px !important;
    margin-right: unset !important;
}
/*
    |=================
    |=== Partners Page === 
    |=================
*/

.privacy-page .text ul li::before, .terms-page .text ul li::before {
    right: auto !important;
    left: -14px !important;
}

.partners-page .landing h1 {
    text-align: left !important;
    line-height: 32px !important;
}

.partners-page .partners-section .partner-box {
    text-align: left !important;
}

@media (max-width: 768px) {
    .partners-page .partners-section .partner-box .bottom-side .contact {
        align-self: flex-start !important;
    }
}

.partners-page .landing h1 {
    line-height: 55px !important;
}

.partners-page .partners-section .partner-box .bottom-side .contact p:first-child {
    font-size: 16.5px !important;
}

.partners-page .landing h1 {
    font-size: 50px !important;
    font-weight: bolder !important;
    line-height: 52px !important;
    text-transform: uppercase !important;
}

.partners-page .partners-section .partner-box .top-side .text .desc {
    line-height: 22px !important;
    font-size: 15.66px !important;
    font-weight: 500 !important;
    color: rgb(79, 79, 79) !important;
}

.privacy-page .text p, .terms-page .text p {
    font-size: 15.66px !important;
    line-height: 22px !important;
    font-weight: 400 !important;
}

.privacy-page .text ul li, .terms-page .text ul li {
    position: relative !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.partners-page .partners-section .partner-box .bottom-side .text a {
    justify-content: start !important;
    flex-direction: row-reverse !important;
}

.partners-page .partners-section .partner-box .bottom-side .text a i {
    margin-left: unset !important;
    margin-right: 7px !important;
}